:host {
    display: block;
    width: 100%;
    height: 100%;
}

*, :host {
    box-sizing: border-box;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 42px;

    margin: 0;
    padding: 10px 8px 10px 8px;
    display: block;
    vertical-align: middle;
    font-size: 10px;
    color: #ccc;
    background-color: #3B3937;
    background: -moz-linear-gradient(#3B3937, #2B2927);
    background: -webkit-gradient(linear, left top, left bottom, from(#3B3937), to(#2B2927));
    -webkit-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
}


canvas {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - 42px);
}
