header {
    position: absolute;
    top: 0;
    width: 100%;
    height: 142px;
    z-index:100;

    margin: 0;
    padding: 10px 8px 10px 8px;
    display: block;
    vertical-align: middle;
    font-size: 14px;
    color: #ccc;
    background: linear-gradient(#3B3937, #2B2927);
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 0 rgba(0, 0, 0, 0.1);
}
